@import "tailwindcss";

html, body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

@theme {
    --color-nav-border: #e1e3ef;
    --color-nav-bg-hover: #f1f2f6;
    --color-primary-blue: #007aff;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility flex-center-col {
    @apply flex flex-col justify-center items-center;
}

.navbar {
    @apply flex justify-between gap-0 w-[100vw] h-[100px] fixed text-white z-999 border-b-1 border-b-nav-border duration-800 ease-in-out;

    .navbar-logo {
        @apply flex-center w-[35vw] lg:w-[25vw] text-3xl md:text-5xl lg:text-6xl font-bold border-r-1 border-r-nav-border box-border outline-none ;

    }

    .navbar-menu {
        @apply flex justify-end lg:justify-around  w-[50vw] border-r-1 border-r-nav-border ;

        .navbar-menu__item {
            @apply justify-center items-center relative w-[22.5%] duration-400 ease-in-out hidden lg:flex;

            .navbar-menu__item__mainLink {
                @apply flex-center h-full w-full ;
            }

            &:hover {
                @apply bg-nav-bg-hover text-gray-800;

                &::before {
                    content: '';
                    @apply w-[100%]  duration-400 ease-in-out;
                }

                .navbar-menu__item__dropdown {
                    @apply visible opacity-100 text-gray-800 duration-400 ease-in-out
                }
            }

            &::before {
                content: '';
                @apply  absolute top-0 left-0 w-[0%] h-[4px] bg-orange-500
            }

            .navbar-menu__item__dropdown {
                @apply  flex invisible justify-start opacity-0 bg-nav-bg-hover fixed top-[100px] left-0 w-[100vw] h-[35vh] duration-400 ease-in-out;

                div:first-child {
                    @apply bg-primary-blue text-white;

                }

                .navbar-menu__item__dropdown__item {
                    @apply flex flex-col justify-start gap-4 w-[25vw] border-r-1 border-r-nav-border p-5;

                    .links {
                        @apply flex flex-col;

                        .link:hover {
                            @apply text-primary-blue;
                        }
                    }

                    h1 {
                        @apply text-[1.3rem];
                    }
                }

            }

        }

        .navbar-menu__hamburger {
            @apply flex-center relative  w-[10vh] lg:w-[10%]  cursor-pointer lg:border-l-1 lg:border-l-nav-border duration-400 ease-in-out mr-10 lg:mr-0;

            &:hover {
                span:first-child {
                    width: 70%;
                }
            }

            .navbar-menu__hamburger__item {
                @apply  border-b-1 border-b-nav-border h-[1px] w-full duration-400 ease-in-out;
            }
        }

    }

    .navbar-sideLinks {
        @apply hidden lg:flex justify-around items-center w-[45vw] lg:w-[25vw];


        .navbar-sideLinks__item {
            @apply flex-center h-full relative cursor-pointer ;

            &:hover {
                @apply bg-white text-gray-800 duration-400 ease-in-out;

                &::before {
                    @apply w-[100%]  ;
                }
            }

            &::before {
                content: '';
                @apply  absolute top-0 left-0 w-[0%] h-[3px] bg-orange-500 duration-400 ease-in-out;
            }

        }

    }

}

.navbar-hidden {
    background-color: var(--color-nav-bg-hover);
    color: var(--text-gray-800);
    transform: translateY(-100px);
    /*animation: myAnimation 1s ;*/
}

.nabvar-scrolled-up {
    background-color: var(--color-nav-bg-hover);
    color: var(--text-gray-800);
}

.navbarMobile {
    @apply flex invisible fixed w-[100vw] h-[100vh] opacity-0 z-9999 bg-nav-bg-hover duration-400 ease-in;
    transform: translate(0, -100px);

    .navbarMobile-sidelineLeft {
        @apply w-0 lg:w-1/4 bg-primary-blue;
    }

    .navbarMobile-menu {
        @apply flex flex-col justify-start w-full lg:w-1/2 overflow-auto;

        .navbarMobile-menu__button {
            @apply flex justify-end w-full min-h-[5rem] pl-10 relative mt-10 mb-10 right-10 ;
            button {
                @apply flex-center relative w-[5rem] cursor-pointer ;
                span {
                    &:first-child {
                        @apply w-full h-[1px] bg-black rotate-45 absolute
                    }
                    &:last-child {
                        @apply  w-full h-[1px] bg-black rotate-[-45deg] absolute
                    }
                }
            }
        }

        .navbarMobile-menu__item {
            @apply w-full text-2xl md:text-3xl xl:text-4xl pl-5  pr-5;

            .navbarMobile-menu__item__title {
                @apply flex  border-b-1 border-nav-border min-h-[7rem] w-full;

                a {
                    @apply w-1/2 m-auto;
                    &:hover {
                        @apply text-primary-blue;
                    }
                }
                button {
                    @apply flex w-full justify-end w-1/2 cursor-pointer;
                    img {
                        @apply h-1/4 w-auto mt-auto mb-auto mr-20 ;
                    }
                }
            }

            .navbarMobile-menu__item__content {
                @apply flex  justify-between invisible w-full max-h-[0] duration-400 ease-in-out overflow-hidden;

                .content {
                    @apply  flex justify-start gap-5 w-1/4 flex-col pr-4 mt-3 ;

                    h1 {
                        @apply font-bold text-[1rem];
                    }

                    .links {
                        @apply flex flex-col gap-2 opacity-70 text-[1rem];
                        a:hover {
                            @apply text-primary-blue;
                        }

                    }

                    p {
                        @apply pr-10 text-[1rem];
                    }
                }

            }

            .navbarMobile-menu__item__content__active {
                @apply  justify-between visible overflow-x-hidden ;
            }
        }

    }
}

.navbarMobile-active {
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
}

.home{
    @apply flex-center-col w-full ;

    .home-popup {
        @apply flex flex-col lg:flex-row invisible  absolute w-[100vw] h-[100vh] opacity-0 z-9999 bg-primary-blue text-nav-bg-hover p-10 lg:pr-30 lg:pl-30 duration-400 ease-in overflow-auto;
        transform: translate(0, -100px);

        .home-popup__closeButton {
            @apply absolute  top-7 right-3;

            button {
                @apply flex-center relative w-[3rem] h-[3rem] cursor-pointer ;
                span {
                    &:first-child {
                        @apply w-full h-[1px] bg-white rotate-45 absolute
                    }
                    &:last-child {
                        @apply  w-full h-[1px] bg-white rotate-[-45deg] absolute
                    }
                }
            }
        }

        .home-popup__item {
            @apply flex flex-col md:flex-row justify-around items-center lg:flex-col  w-full h-full md:w-full md:h-1/3 lg:h-full lg:w-1/3 ;

            .home-popup__item__image {
                @apply md:w-2/5 md:h-4/5 lg:w-4/5 lg:h-2/5 m-5 rounded-2xl overflow-hidden;

                img {
                    @apply object-cover object-center w-full h-full scale-[1.1] duration-400 ease-in;

                    &:hover {
                        scale: 1.0;
                    }
                }
            }

            .home-popup__item__items {
                @apply flex flex-col justify-start gap-2 lg:gap-7 md:w-3/5 md:h-4/5 lg:w-4/5 lg:h-3/5  lg:mt-5 p-5;

                .home-popup__item__link {

                    &:hover {
                        a {
                            @apply text-yellow-500 transition duration-400 ease-in;
                        }
                    }
                }
            }
        }
    }

    .home-popup__active {
        visibility: visible;
        position: fixed;
        transform: translate(0, 0);
        opacity: 1;
    }

    .home-content {
        @apply w-[100vw] ;
        .home-content__news {
            @apply flex flex-col md:flex-row w-full mt-10 pr-5 pl-5;

            .home-content__news__title {
                @apply text-3xl md:text-5xl p-7 text-center;
            }

            .home-content__news__bigNews {
                @apply flex-center-col self-start w-full md:w-1/2 p-5;
            }

            .home-content__news__smallNews {
                @apply flex flex-wrap w-full md:w-1/2 p-5;

                .newsCard {
                    @apply w-1/2 p-5;
                }
            }

        }

        .home-content__location {
            @apply flex flex-col md:flex-row w-full;
        }

        .home-content__culture {
            @apply flex flex-col md:flex-row w-full;
        }

        .home-content__careers {
            @apply flex flex-col md:flex-row w-full;

        }
    }




}

@layer components {

    .mainImageOrVideo {
        @apply w-full h-[100vh];

        video, img  {
            @apply w-[100%] h-full object-cover object-center;
        }

        img {
            @apply w-[100%] h-full object-cover object-center;
        }
    }

    .mainTitle {

        @apply flex flex-col justify-start gap-7 absolute left-20 lg:left-40 text-nav-border text-7xl duration-400 ease-in-out;

        h1 {
            span {
                @apply text-9xl text-orange-500
            }
        }

        .title__item {
            @apply flex  w-[60vw] cursor-pointer ;

            .message {
                @apply w-1/2 text-2xl text-end;
            }

            .link {
                @apply flex flex-col justify-center items-start  w-1/2 ;

                img {
                    @apply h-[1.5rem] rotate-[-90deg];
                }
            }

            &:hover {
                img{
                    @apply translate-x-15 duration-400 ease-in-out;
                }
            }
        }

        h1:hover {
            @apply  duration-400 ease-in-out;
        }

        .passions-conflict-regular {
            font-family: "Passions Conflict", cursive;
            font-weight: 400;
            font-style: normal;
        }

    }

    .simpleImage {
        img {
            @apply w-[100%] h-full object-cover object-center scale-[1] duration-400 ease-in-out;

            &:hover {
                @apply scale-[1.2];
            }
        }
    }
}



